<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <style>
      input[type="submit"] {
          font-family: FontAwesome;
      } 
    </style>
  </head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'cust_index' %}"><span>Airline Company</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="{% url 'cust_index' %}">My Reservations</a>
          </li>
          <li>
            <a href="{% url 'cust_log' %}ticket">My Tickets</a>
          </li>
          <li>
            <a href="{%url 'cust_log' %}profile">Profile</a>
          </li>
          <li>
            <a href="{%url 'cust_logout' %}">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

    <div class="section">
    	
    	<div class="container">
	        <div class="row">
	          <div class="col-md-12">
	          	{% if listing %}
                
              <form class="form-inline" role="form" action="#" method="get">
      				  <fieldset class="form-group">
                  <label for="exampleSelect1">Departure Airport</label>
                  <select class="form-control" name="select_dep_port">
                  {% for airp in airports %}
                    <option value="{{forloop.counter0}}">{{ airp.city_name }}</option>
                  {% endfor %}
                  </select>
                </fieldset>
                <fieldset class="form-group">
                  <label for="exampleSelect1">Arrival Airport</label>
                  <select class="form-control" name="select_arr_port">
                  {% for airp in airports %}
                    <option value="{{forloop.counter0}}">{{ airp.city_name }}</option>
                  {% endfor %}
                  </select>
                </fieldset>
                
                <input type="submit" value="next" name="proceed">
              </form>
              {% else %}
              <table class="table table-bordered table-hover table-condensed">
                {% for flight_list in available_flights %}
                      <tr>
                        {% for flight in flight_list %}
                          <td>
                            <a href="{{flight.id}}">{{flight.departs}} - {{flight.arrives}} at {{flight.time}}</a>
                          </td>
                        {% endfor %}
                      </tr>
                {% endfor %}
              </select>
              {% endif %}
          	</div>
  		</div>
    </div>
    
  

</body></html>